<!--<h1>5 INF C - 2020/21</h1>
<h3>Introduzione a Angular e TypeScript</h3>
<p>Primo esempio di "databinding", io sono: {{myName}}</p>
<button (click) = "changeName()">CAMBIAMI NOME</button>-->
<!--my name variabile richiamata da app.component.ts-->

<hr>

<div class="container">
    <div class="row">
        <div class="clo-xs-12">
            <h2>Utilizzo dei componenti: </h2>
            <app-servers>sono nell'app component</app-servers>
            <!--<div app-servers></div> , usato l'attrivuto che abbiamo implementato nel server component -->
            <!--<div class="app-servers"></div> , usato l'attrivuto che abbiamo implementato nel server component -->
            <!-- faccio in modo che si vedanno i servers-->
        </div>
    </div>
</div>
